<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хелфен ЕООД</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% csrf_token %}
</head>
<body class="img js-fullheight" style="background-image: url({% static 'images/bg.jpg' %});">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Добре дошли в Хелфен ЕООД</h2>
</div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <!-- Include your logo here -->
            <style>
        .logo {
            width: 350px; /* Adjust the width as needed */
            height: auto; /* Automatically adjust the height to maintain aspect ratio */
        }
    </style>
            <img src="{% static 'images/Helfen-logo.png' %}" alt="logo" class="logo">
            <h3 class="mb-4 text-center">Влизане в системата</h3>
                    <form method="post" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Потребител" name="username" required>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Парола" name="password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Влез</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Запомни ме
                                    <input type="checkbox" name="remember" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </form>
                    <p class="w-100 text-center">&mdash; За връзка с нас &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="mailto:admin@helfen.bg" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo mr-2"></span> Е-поща</a>
                        <a href="tel:+359876451000" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Телефон</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
